<!DOCTYPE html>
<html ng-app="personListApp">
	<head>
		<link rel="stylesheet" href="css/onsenui.css">
		<script src="js/angular.min.js"></script>
		<script src="js/ngStorage.min.js"></script>
		<script src="js/onsenui.js"></script>
		<script src="js/personListApp.js"></script>
		<script src="js/services.js"></script>
	</head>
	<body ng-controller="PersonList as personList">
		<form>
			<table>
				<tbody>
					<tr>
						<th>Name *:</th>
						<td><input type="text" ng-model="personList.person.name" placeholder="first last" /></td>
					</tr>
					<tr>
						<th>Role:</th>
						<td><input type="text" ng-model="personList.person.role" placeholder="UX, back-end dev., QA, etc." /></td>
					</tr>
					<tr>
						<th>Place:</th>
						<td><input type="text" ng-model="personList.person.place" placeholder="Boebligen, San Jose, etc." /></td>
					</tr>
					<tr>
						<th>Country:</th>
						<td><input type="text" ng-model="personList.person.country" placeholder="Germany, West US, etc." /></td>
					</tr>
					<tr>
						<th>Memo:</th>
						<td><input type="textarea" ng-model="personList.person.memo" placeholder="" /></td>
					</tr>
			</table>
			<button ng-click="personList.addPerson()" ng-disabled="!personList.person.name">Add</button>
		</form>
		<table style="padding-top: 20px;">
			<thead>
				<tr>
					<th>Name</th>
					<th>Role</th>
					<th>Place</th>
					<th>Country</th>
					<th>Memo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in personList.persons" ng-click="personList.selectPerson(person)" ng-class="{active: person == personList.selectedPerson}">
					<td>{{person.name}}</td>
					<td>{{person.role}}</td>
					<td>{{person.place}}</td>
					<td>{{person.country}}</td>
					<td>{{person.memo}}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button ng-click="personList.deleteSelectedPerson()" ng-disabled="personList.selectedPerson === null">Delete</button>
		</div>
	</body>
</html>
