<!DOCTYPE html>
<html ng-app="personListApp">
	<head>
		<link rel="stylesheet" href="css/onsenui.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/angular.min.js"></script>
		<script src="js/ngStorage.min.js"></script>
		<script src="js/onsenui.js"></script>
		<script src="js/personListApp.js"></script>
		<script src="js/services.js"></script>
	</head>
	<body ng-controller="PersonList as personList" style="padding: 20px;">
		<form>
			<table>
				<tbody>
					<tr class="form-group">
						<th>Name <span style="color:red;">*</span>:</th>
						<td><input class="form-control" type="text" ng-model="personList.person.name" placeholder="first last" /></td>
					</tr>
					<tr class="form-group">
						<th>Role:</th>
						<td><input class="form-control" type="text" ng-model="personList.person.role" placeholder="UX, back-end dev., QA, etc." /></td>
					</tr>
					<tr class="form-group">
						<th>Place:</th>
						<td><input class="form-control" type="text" ng-model="personList.person.place" placeholder="Boebligen, San Jose, etc." /></td>
					</tr>
					<tr class="form-group">
						<th>Country:</th>
						<td><input class="form-control" type="text" ng-model="personList.person.country" placeholder="Germany, West US, etc." /></td>
					</tr>
					<tr class="form-group">
						<th>Memo:</th>
						<td><input class="form-control" type="textarea" ng-model="personList.person.memo" placeholder="" /></td>
					</tr>
			</table>
			<button class="btn" ng-click="personList.addPerson()" ng-disabled="!personList.person.name">Add</button>
		</form>
		<table class="table table-striped" style="margin-top: 40px;">
			<thead>
				<tr>
					<th style="cursor: pointer;" ng-click="reverse = (sortKey === 'name') ? !reverse : false; sortKey = 'name'">
						Name<span ng-style="(sortKey === 'name' && !!reverse) ? {visibility: 'visible'} : {visibility: 'hidden'}"> ^</span>
					</th>
					<th style="cursor: pointer;" ng-click="reverse = (sortKey === 'role') ? !reverse : false; sortKey = 'role'">
						Role<span ng-style="(sortKey === 'role' && !!reverse) ? {visibility: 'visible'} : {visibility: 'hidden'}"> ^</span>
					</th>
					<th style="cursor: pointer;" ng-click="reverse = (sortKey === 'place') ? !reverse : false; sortKey = 'place'">
						Place<span ng-style="(sortKey === 'place' && !!reverse) ? {visibility: 'visible'} : {visibility: 'hidden'}"> ^</span>
					</th>
					<th style="cursor: pointer;" ng-click="reverse = (sortKey === 'country') ? !reverse : false; sortKey = 'country'">
						Country<span ng-style="(sortKey === 'country' && !!reverse) ? {visibility: 'visible'} : {visibility: 'hidden'}"> ^</span>
					</th>
					<th style="cursor: pointer;" ng-click="reverse = (sortKey === 'memo') ? !reverse : false; sortKey = 'memo'">
						Memo<span ng-style="(sortKey === 'memo' && !!reverse) ? {visibility: 'visible'} : {visibility: 'hidden'}"> ^</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in personList.persons | orderBy: sortKey || (sortKey = 'name') : reverse || false" ng-click="personList.selectPerson(person)" ng-class="{active: person == personList.selectedPerson}">
					<td>{{person.name}}</td>
					<td>{{person.role}}</td>
					<td>{{person.place}}</td>
					<td>{{person.country}}</td>
					<td>{{person.memo}}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button class="btn" ng-click="personList.deleteSelectedPerson()" ng-disabled="personList.selectedPerson === null">Delete</button>
		</div>
	</body>
</html>
